.section2 {
  .box1 {
    background: #2980b9;
    height: 20px;
    width: 20px;
  }
  .box2 {
    background: #315268;
    height: 20px;
    width: 20px;
  }
  .box3 {
    background: #62ba56;
    height: 20px;
    width: 20px;
  }
}
