.footer{
    padding: 40px;
    .clutch{
        font-size: 40px;
        font-weight: 700;
        color: #17313b;
    }
    .h5{
        font-weight: 700;
    }
    li{
        margin-top: 10px;
    }
}