.award {
  .col1 {
    background: #17313b;
    color: #fff;
  }
  .col2 {
    .btn {
      color: #17313b;
      font-size: 15px;
      font-weight: 600;
      padding: 25px;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      border-left: none;
    }
    .btn2 {
      color: #17313b;
      font-size: 15px;
      font-weight: 600;
      padding: 25px;
      border-bottom: 1px solid #000;
      border-left: none;
    }
    .btn:hover {
      font-size: 20px;
      color: red;
      border-bottom: 5px solid red;
    }
    .btn2:hover {
      font-size: 20px;
      color: red;
      border-bottom: 5px solid red;
    }
  }

  .fixedCard {
    position: fixed;
    top: 50%; /* position in the vertical center */
    right: 0; /* position in the right edge */
    transform: translateY(-50%); /* adjust for card height */
    border: 1px solid #000;
    width: 13%;
    height: auto;
    background: #e8e5e5;
    button{
      background: none;
      border: none;
      border-bottom: 1px solid #000;
      margin: 5px 20px 5px 20px;
      padding: 15px;
    }
    button:first-child{
      background: red;
      color: #fff;
    }
    button:hover{
      background: #fff;
      color: red;
      border: 3px solid red;
    }

  }
}

@media only screen and (max-width: 992px) {
  .fixedCard{
    display: none;
  }
}
