
.btn1{
    padding: 12px;
    background: none;
    border: 2px solid red;
    color: red;
}
.btn1:hover{
    background: red;
    color: white;
}

.div1{
    margin-top: 10vh;
}
.div3{
    margin-top: 15vh;
}
